<p id="notice"><%= notice %></p>

<h1>Listing Peels</h1>

<table>
  <thead>
    <tr>
      <th>Pieces</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peels.each do |peel| %>
      <tr>
        <td><%= peel.pieces %></td>
        <td><%= peel.references %></td>
        <td><%= link_to 'Show', peel %></td>
        <td><%= link_to 'Edit', edit_peel_path(peel) %></td>
        <td><%= link_to 'Destroy', peel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peel', new_peel_path %>
