<p id="notice"><%= notice %></p>

<p>
  <strong>Pieces:</strong>
  <%= @peel.pieces %>
</p>

<p>
  <strong>References:</strong>
  <%= @peel.references %>
</p>

<%= link_to 'Edit', edit_peel_path(@peel) %> |
<%= link_to 'Back', peels_path %>
